#body {
#  background-color: #2d2d2d;
#}
.div_text {
    font-family:"courier new";
    font-size: 24px;
}
.div_outer {
    height:95%;
    width:100px;
    border:1px solid black;
}
.div_inner {
    padding: 5px;
}
.div_empty {
    float: left;
    width: 10%;
    border:1px solid transparent;
}
.div_op1 {
    text-align: right;
}
.div_sign {
    float: left;
    width: 10%;
}
.div_op2 {
    text-align: right;
}
.hr_line {
    margin-top: -5px;
    width: 95%;
}
.input_answer {
    margin: -5px 0px 5px 3px;
    width: 90%;
    text-align: right;
}
